@use "generales" as g;


footer{
    background-color: g.$fondoNegro;
    color: g.$parrafo;
    display: flex;
    justify-content: space-around;
    min-height: 5rem;
    
}

@include g.mobile{
    p{
        font-size: 0.5rem;
    }
}