@use "generales" as g;

header {
    background-color: g.$fondoNegro;
    color: g.$parrafo;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;

    a{
        font-size: 1.25rem;
    }

    li{
        font-size: 1.25rem;
    }

    .nav-link {
        color: g.$parrafo;

        &:hover {
            color: white;
        }
    }
}