@use "generales" as g;

header {
    background-color: g.$fondoNegro;
    color: g.$parrafo;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .navbar {
            display: flex;
            gap: 25px;

            a {
                text-decoration: none;
                color: g.$parrafo;
            }

            a:hover {
                color: white;
            }
        }
    }

    @include g.mobile {
        .header {
            .navbar {
                display: none;
            }
            p{
                font-size: 0.5rem;
            }
        }
        .btn-cv{
            font-size: 0.5rem;
        }
    }
}