@use "generales" as g;

.main {
    color: g.$parrafo;

    a {
        text-decoration: none;
        color: g.$parrafo;
    }

    a:hover {
        color: white;
    }

    .hr {
        margin: 0;
    }

    h2 {
        color: white;
    }

    .introduccion {
        background-image: url("../../img/fondo-introduccion.webp");
        min-height: 50vh;

        .contenidoIntroduccion {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            h1 {
                font-size: 5rem;
                color: white;

                .nombre {
                    color: g.$azul;
                }
            }

            .p-frontdev {
                font-size: 2rem;
            }

            .p-presentacion {
                font-size: 1.5rem;
                max-width: 30rem;
            }

            .botones {
                display: flex;
                gap: 20px;
            }
        }
    }

    .secciones {
        background-color: g.$fondoNegro;
        min-height: 80vh;

        .contenido {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .pTitulo {
                align-self: flex-start;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                color: g.$azul;
            }

            .divSobreMi {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .seccionesSobreMi {
                    display: flex;
                    justify-content: space-evenly;

                    h3 {
                        color: g.$azul;
                    }
                }

                img {
                    max-height: 25em;
                }

                .h2SobreMi {
                    color: g.$azul;
                }
            }

            .c-proyectos {
                display: flex;
                gap: 60px;

                .card {
                    width: 30rem;

                    .card-img-top {
                        width: 100%;
                        height: 300px;
                    }

                    .card-body {
                        background-image: url("../../img/fondo-introduccion.webp");
                        color: g.$parrafo;
                        text-align: center;
                    }
                }
            }

            .herramientasUsadas {
                ul {
                    list-style: none;
                    display: flex;
                    gap: 30px;
                    color: g.$azul;
                }

                .stack {
                    font-size: 3rem;
                }

            }

            .trayectoria {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .seccionesTrayectoria {
                    display: flex;
                    justify-content: space-between;
                    width: 500px;
                    background-color: #1e293b;
                    border-radius: 5%;
                    padding: 1rem;

                    h3 {
                        color: white;
                    }
                }

            }

            .redes {
                display: flex;
                gap: 20px;
            }
        }
    }

    @include g.mobile {

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1rem;
        }

        a {
            font-size: 1rem;
        }

        .introduccion {
            min-height: 50vh;

            .contenidoIntroduccion {
                p {

                    .icono-disponible {
                        width: 6px;
                        height: 6px;
                    }
                }

                h1 {
                    font-size: 3rem;
                }

                .p-frontdev {
                    font-size: 1.5rem;
                }

                .p-presentacion {
                    font-size: 1rem;
                }

                .botones {
                    display: none;
                }
            }
        }

        .secciones {
            min-height: 50vh;

            .contenido {

                .pTitulo {
                    font-size: 1.2rem;
                }

                .divSobreMi {
                    display: flex;
                    flex-direction: column;

                    img {
                        max-height: 25em;
                        max-width: 100%;
                        height: auto; 
                    }


                    .seccionesSobreMi {
                        display: flex;
                        flex-direction: column;

                    }
                }

                .c-proyectos {
                    flex-direction: column;
                    gap: 20px;

                    .card {
                        width: 15rem;

                        .card-img-top {
                            height: 150px;
                        }

                        h5 {
                            font-size: 1rem;
                        }

                        a {
                            font-size: 0.5rem;
                        }

                        .card-body {
                            .card-text {
                                font-size: 0.5rem;
                            }
                        }
                    }
                }

                .herramientasUsadas {
                    display: flex;

                    ul {
                        flex-direction: column;
                        gap: 30px;
                        font-size: 1rem;

                    }

                    .stack {

                        font-size: 1rem;
                    }
                }

                .trayectoria {
                    gap: 1rem;

                    .seccionesTrayectoria {
                        width: 220px;
                        padding: 0.5rem;
                    }
                }
            }
        }
    }

}