@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

header {
  background-color: #0a0a0f;
  color: #a1a1aa;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header .navbar {
  display: flex;
  gap: 25px;
}
header .header .navbar a {
  text-decoration: none;
  color: #a1a1aa;
}
header .header .navbar a:hover {
  color: white;
}
@media (max-width: 767px) {
  header .header .navbar {
    display: none;
  }
  header .header p {
    font-size: 0.5rem;
  }
  header .btn-cv {
    font-size: 0.5rem;
  }
}

.main {
  color: #a1a1aa;
}
.main a {
  text-decoration: none;
  color: #a1a1aa;
}
.main a:hover {
  color: white;
}
.main .hr {
  margin: 0;
}
.main h2 {
  color: white;
}
.main .introduccion {
  background-image: url("../../img/fondo-introduccion.webp");
  min-height: 50vh;
}
.main .introduccion .contenidoIntroduccion {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main .introduccion .contenidoIntroduccion h1 {
  font-size: 5rem;
  color: white;
}
.main .introduccion .contenidoIntroduccion h1 .nombre {
  color: #7b7fff;
}
.main .introduccion .contenidoIntroduccion .p-frontdev {
  font-size: 2rem;
}
.main .introduccion .contenidoIntroduccion .p-presentacion {
  font-size: 1.5rem;
  max-width: 30rem;
}
.main .introduccion .contenidoIntroduccion .botones {
  display: flex;
  gap: 20px;
}
.main .secciones {
  background-color: #0a0a0f;
  min-height: 80vh;
}
.main .secciones .contenido {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main .secciones .contenido .pTitulo {
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: #7b7fff;
}
.main .secciones .contenido .divSobreMi {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main .secciones .contenido .divSobreMi .seccionesSobreMi {
  display: flex;
  justify-content: space-evenly;
}
.main .secciones .contenido .divSobreMi .seccionesSobreMi h3 {
  color: #7b7fff;
}
.main .secciones .contenido .divSobreMi img {
  max-height: 25em;
}
.main .secciones .contenido .divSobreMi .h2SobreMi {
  color: #7b7fff;
}
.main .secciones .contenido .c-proyectos {
  display: flex;
  gap: 60px;
}
.main .secciones .contenido .c-proyectos .card {
  width: 30rem;
}
.main .secciones .contenido .c-proyectos .card .card-img-top {
  width: 100%;
  height: 300px;
}
.main .secciones .contenido .c-proyectos .card .card-body {
  background-image: url("../../img/fondo-introduccion.webp");
  color: #a1a1aa;
  text-align: center;
}
.main .secciones .contenido .herramientasUsadas ul {
  list-style: none;
  display: flex;
  gap: 30px;
  color: #7b7fff;
}
.main .secciones .contenido .herramientasUsadas .stack {
  font-size: 3rem;
}
.main .secciones .contenido .trayectoria {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main .secciones .contenido .trayectoria .seccionesTrayectoria {
  display: flex;
  justify-content: space-between;
  width: 500px;
  background-color: #1e293b;
  border-radius: 5%;
  padding: 1rem;
}
.main .secciones .contenido .trayectoria .seccionesTrayectoria h3 {
  color: white;
}
.main .secciones .contenido .redes {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .main h2 {
    font-size: 1.5rem;
  }
  .main h3 {
    font-size: 1.2rem;
  }
  .main p {
    font-size: 1rem;
  }
  .main a {
    font-size: 1rem;
  }
  .main .introduccion {
    min-height: 50vh;
  }
  .main .introduccion .contenidoIntroduccion p .icono-disponible {
    width: 6px;
    height: 6px;
  }
  .main .introduccion .contenidoIntroduccion h1 {
    font-size: 3rem;
  }
  .main .introduccion .contenidoIntroduccion .p-frontdev {
    font-size: 1.5rem;
  }
  .main .introduccion .contenidoIntroduccion .p-presentacion {
    font-size: 1rem;
  }
  .main .introduccion .contenidoIntroduccion .botones {
    display: none;
  }
  .main .secciones {
    min-height: 50vh;
  }
  .main .secciones .contenido .pTitulo {
    font-size: 1.2rem;
  }
  .main .secciones .contenido .divSobreMi {
    display: flex;
    flex-direction: column;
  }
  .main .secciones .contenido .divSobreMi img {
    max-height: 6em;
    max-width: 100%;
    height: auto;
  }
  .main .secciones .contenido .divSobreMi .seccionesSobreMi {
    display: flex;
    flex-direction: column;
  }
  .main .secciones .contenido .c-proyectos {
    flex-direction: column;
    gap: 20px;
  }
  .main .secciones .contenido .c-proyectos .card {
    width: 15rem;
  }
  .main .secciones .contenido .c-proyectos .card .card-img-top {
    height: 150px;
  }
  .main .secciones .contenido .c-proyectos .card h5 {
    font-size: 1rem;
  }
  .main .secciones .contenido .c-proyectos .card a {
    font-size: 0.5rem;
  }
  .main .secciones .contenido .c-proyectos .card .card-body .card-text {
    font-size: 0.5rem;
  }
  .main .secciones .contenido .herramientasUsadas {
    display: flex;
  }
  .main .secciones .contenido .herramientasUsadas ul {
    flex-direction: column;
    gap: 30px;
    font-size: 1rem;
  }
  .main .secciones .contenido .herramientasUsadas .stack {
    font-size: 1rem;
  }
  .main .secciones .contenido .trayectoria {
    gap: 1rem;
  }
  .main .secciones .contenido .trayectoria .seccionesTrayectoria {
    width: 220px;
    padding: 0.5rem;
  }
  .main .secciones .contenido .trayectoria div {
    min-width: 0;
    word-wrap: break-word;
  }
}

footer {
  background-color: #0a0a0f;
  color: #a1a1aa;
  display: flex;
  justify-content: space-around;
  min-height: 5rem;
}

@media (max-width: 767px) {
  p {
    font-size: 0.8rem;
    padding: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
